---
layout: page
title: Home | Personalized Nutrition Concierges
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block text-center">
          <h2 class="animated fadeInUp home-h2"><strong>a weight management program as unique as you are</strong></h2>
          <h4 class="animated fadeInUp">Lose up to 76% more weight than on plans without genetic profile customization.*</h4>
          <p class="animated fadeInUp home-text"><small>A program personalized by your registered dietitian incorporating your DNA and body composition results to ensure that your nutrition plan is uniquely suited to your personal genetic, health, and weight management needs. Schedule your individual consultations with a Registered Dietitian Nutritionists to receive one-on-one care for effective weight loss, lifelong nutrition education, and long-term weight management success, including nutrition plans and physical activity suggestions, according to your genetic makeup.</small></p>
          <a href="#" class="btn">start today</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>Kassandra received her undergraduate degree in nutrition and dietetics from Cornell University in Ithaca, NY.  She was then accepted into the University of Pittsburgh Medical Center to further her studies and complete over 1200 hours of continuing education and direct patient care. Kassandra has a diverse background with extensive experience ranging from oncology, digestive disorders, and auto immune diseases to  weight loss and wellness.</p>
          </div>
          <p><i>“My goal is to offer lifetime nutrition plans that are medically sound and realistic, tailored for each person’s needs and lifestyle. I’ve never been more excited about the diagnostic tools at my disposal, such as our DNA testing. Using this information, I work with my clients to help educate and support them. I do consider it an honor to be part of their wellness journeys.”</i></p>
          <p><strong>Kassandra Gyimesi, RDN, Owner</strong></p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <div id="kassandra"></div>
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>PRESENTATIONS FOR YOUR COMMUNITY</h2>
      <h4>Bring a nutrition expert to your next gathering</h4>
      <p>Are you looking for a nutrition expert to speak at an upcoming meeting, seminar, or health fair? The RDNs at Personalized Nutrition Concierges are available to share the most current, evidence-based information on a range of health and wellness issues – from disease management, weight loss, athletic performance and more. Topics can be tailored to meet the needs of your group or business.</p>
      <a href="#" class="btn">connect with us</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row ">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img src="img/orange_icon.png" />
          <h4>individual consultations</h4>
          <p class="text-left">Kassandra, is a Registered Dietitian and weight loss expert and will be your accountability partner 
            for the next 12 weeks.  Once she learns your unique nutritional needs, she will  educate, coach, and 
            motivate you to successfully achieve and sustain all your wellness goals.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
            <img src="img/blue_icon.png" />
            <h4>progressive technologies</h4>
          <p class="text-left">Health and wellness are gene-deep which is why cutting edge assessment tools  like DNA testing are 
            so critical to understanding your unique nutritional needs. We literally utilize your genetic blueprint 
            to help create a nutrition plan that is a lifestyle and not a diet!  </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
            <img src="img/plate_icon.png" />
            <h4>personalized meal plans</h4>
          <p class="text-left">A key component of your personalized nutrition program is the creation of delicious menus, recipes and 
            grocery lists.  Your custom meal plans are created using the specific calorie and macronutrient requirements 
            needed to help you easily achieve your weight and wellness goals. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
